@view-transition {
  navigation: auto;
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  font-style: normal;
  src:
    local("Noto Sans"),
    local("Noto-Sans-regular"),
    url("https://web-platform-dx.github.io/assets/fonts/Noto-Sans-regular/Noto-Sans-regular.woff2") format("woff2"),
    url("https://web-platform-dx.github.io/assets/fonts/Noto-Sans-regular/Noto-Sans-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  font-style: normal;
  src:
    local("Noto Sans Bold"),
    local("Noto-Sans-700"),
    url("https://web-platform-dx.github.io/assets/fonts/Noto-Sans-700/Noto-Sans-700.woff2") format("woff2"),
    url("https://web-platform-dx.github.io/assets/fonts/Noto-Sans-700/Noto-Sans-700.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  font-style: italic;
  src:
    local("Noto Sans Italic"),
    local("Noto-Sans-italic"),
    url("https://web-platform-dx.github.io/assets/fonts/Noto-Sans-italic/Noto-Sans-italic.woff2") format("woff2"),
    url("https://web-platform-dx.github.io/assets/fonts/Noto-Sans-italic/Noto-Sans-italic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  font-style: italic;
  src:
    local("Noto Sans Bold Italic"),
    local("Noto-Sans-700italic"),
    url("https://web-platform-dx.github.io/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff2") format("woff2"),
    url("https://web-platform-dx.github.io/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff") format("woff");
  font-display: swap;
}

:root {
  --baseline-low-bg: #e8f0fe;
  --baseline-low-border: #d2e3fc;
  --baseline-high-bg: #e6f4ea;
  --baseline-high-border: #c9ecd3;
  --baseline-limited-bg: #f1f3f4;
  --baseline-limited-border: #e3e6e8;
  --browser-supported: #2f9b4d;
  --browser-supported-bg: #ceead6;
  --browser-unsupported: #cf3a3a;
  --browser-unsupported-bg: #f5d6d6;
  --text: black;
  --link: #146b2e;
  --background: white;
  --background-alt: #f5f5f5;
  --sub-text: #666;
  --separator: #eee;
  --margin: 2.3rem;
  --sidebar-width: 20rem;
}

html {
  font:
    1em/1.5 "Noto Sans",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  color: var(--text);
  background: var(--background);
  line-height: 1.5;
}

html,
body {
  block-size: 100%;
  margin: 0;
}

a {
  color: var(--link);
}

.break-all {
  word-break: break-all;
}

header {
  padding: var(--margin);
  background: linear-gradient(to right, var(--baseline-low-bg), var(--baseline-high-bg));
  overflow-y: auto;
  position: fixed;
  inset-block-start: 0;
  inline-size: var(--sidebar-width);
  block-size: 100%;
  box-sizing: border-box;
  translate: 0 0;
}

header .logo-text {
  display: block;
  font-size: 1.7rem;
  text-decoration: none;
  color: var(--text);
  padding-block-start: 3rem;
  background-image: url(https://web-platform-dx.github.io/assets/img/webdx-notext.svg);
  background-repeat: no-repeat;
  background-size: 5rem;
  background-position: top center;
  text-align: center;
  text-transform: lowercase;
  line-height: 1;
  margin-block-end: var(--margin);

  span {
    display: block;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
  }
}

.menu-toggle {
  display: none;
  position: fixed;
  inset: 0 0 auto 0;
  padding: var(--margin);
  align-items: center;
  gap: calc(var(--margin) / 2);
  border: none;
  background: var(--background);
  margin: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: clamp(.5rem, 3.5vw, 1.2rem);
  box-shadow: 0 0 1rem 0 var(--baseline-high-border);
  white-space: nowrap;
}

.menu-toggle::after {
  content: "show menu";
  color: var(--sub-text);
  text-decoration: underline;
  font-size: 0.9em;
}

body:has(header.open) .menu-toggle::after {
  content: "hide menu";
}

.menu-toggle .logo-text {
	padding-inline-start: 2.8rem;
	background-image: url(https://web-platform-dx.github.io/assets/img/webdx-notext.svg);
	background-repeat: no-repeat;
	background-size: 2.5rem;
	background-position: 0 center;
	text-transform: uppercase;
	font-weight: bold;
}

/* Main */

main {
  padding: var(--margin);
  margin-inline-start: var(--sidebar-width);
}

@media (max-width: 50rem) {
  :root {
    --margin: 1.5rem;
  }

  header {
    translate: calc(-1 * var(--sidebar-width)) 0;
  }
  
  header.open {
    translate: 0 0;
    inline-size: 100%;
    padding-block-start: calc(var(--margin) * 2);
  }

  header.open .logo-text {
    display: none;
  }

  main {
    margin-inline-start: 0;
    margin-block-start: calc(var(--margin) * 2);
  }

  .menu-toggle {
    display: flex;
  }

  body:has(header.open) {
    overflow: hidden;
  }
}

/* Headers */

h1 {
  margin: var(--margin) 0;
  font-size: 1.5rem;
  font-weight: normal;
}

h2 {
  font-size: 1.3rem;
  font-weight: normal;
}

h1 code {
  font-size: inherit;
}

h1 img {
  height: 2rem;
}

.intro {
  margin: var(--margin) 0;
}

.intro dl {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 0.5rem;
}

.intro dl dt {
  font-weight: bold;
}

.intro dl dd {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h3 .subtext {
  font-size: small;
  font-weight: normal;
}

code {
  background: #0001;
  padding: 0.125rem;
  font-size: 0.9rem;
  border-radius: 0.125rem;
}

a:hover {
  text-decoration: none;
}

/* Feature box */

.feature {
  padding: var(--margin);
  border-radius: 0.5rem;
  margin-block-start: var(--margin);
}

.feature.mini {
  padding: calc(var(--margin) / 2);
  margin-block-start: calc(var(--margin) / 2);
}

.baseline-false {
  --bg: var(--baseline-limited-bg);
  --border: var(--baseline-limited-border);
}

.baseline-low {
  --bg: var(--baseline-low-bg);
  --border: var(--baseline-low-border);
}

.baseline-high {
  --bg: var(--baseline-high-bg);
  --border: var(--baseline-high-border);
}

.feature.baseline-false {
  background: linear-gradient(to bottom,
      var(--baseline-limited-bg),
      var(--background));
}

.feature.baseline-low {
  background: linear-gradient(to bottom,
      var(--baseline-low-bg),
      var(--background));
}

.feature.baseline-high {
  background: linear-gradient(to bottom,
      var(--baseline-high-bg),
      var(--background));
}

.feature.discouraged {
  background: linear-gradient(to bottom,
      var(--browser-unsupported-bg),
      var(--background));
}

.feature h2,
.feature h1 {
  margin: 0;
}

.feature>p {
  margin-block: calc(var(--margin) / 2);
  line-height: 1.6;
}

.feature.mini>p {
  margin: 0;
}

.feature.short h2 a code {
  font-size: inherit;
}

.availability {
  padding-inline-start: 2.1rem;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 1.5rem;
  font-size: 0.9rem;
  color: var(--sub-text);
}

.baseline-false .availability {
  background-image: url(https://web-platform-dx.github.io/assets/img/baseline-limited-icon.svg);
}

.baseline-low .availability {
  background-image: url(https://web-platform-dx.github.io/assets/img/baseline-newly-icon.svg);
}

.baseline-high .availability {
  background-image: url(https://web-platform-dx.github.io/assets/img/baseline-widely-icon.svg);
}

.discouraged .availability {
  background-image: none;
  padding-inline-start: 0.25rem;
}

.tags {
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: bold;
}

.tags .tag {
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  background: var(--background);
  border: 1px solid var(--text);
}

.baseline-blocked-since {
  font-size: 0.9rem;
  text-align: center;
  font-weight: bold;
  margin-block-end: 0;
}

.compat {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 0.9rem;
  max-inline-size: 70rem;
  column-gap: calc(var(--margin) / 2);
}

.compat .browser {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  padding-inline: 1rem;
}

.compat .browser:not(:last-child) {
  padding-block-end: 0.5rem;
  margin-block-end: 0.5rem;
  border-block-end: 1px solid var(--separator);
}

.compat .browser .name {
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  padding-inline-start: 2.5rem;
}

.compat .browser .version {
  font-weight: bold;
  background-repeat: no-repeat;
  padding-inline-start: 1.5rem;
  background-size: 1rem;
  background-position: 0 0.2rem;
}

.compat .browser .version.unsupported {
  color: var(--browser-unsupported);
  background-image: url(./unsupported.svg);
}

.compat .browser .version.supported {
  color: var(--browser-supported);
  background-image: url(./supported.svg);
}

.compat .browser .date {
  justify-self: end;
  color: var(--sub-text);
}

.compat .browser .date:empty::before {
  content: "—";
}

.compat .browser-chrome .name,
.compat .browser-chrome_android .name {
  background-image: url(./chrome.svg);
}

.compat .browser-firefox .name,
.compat .browser-firefox_android .name {
  background-image: url(./firefox.svg);
}

.compat .browser-edge .name {
  background-image: url(./edge.svg);
}

.compat .browser-safari .name,
.compat .browser-safari_ios .name {
  background-image: url(./safari.svg);
}

.compat .browser .date,
.compat .browser .bug,
.compat .browser .position {
  font-size: 0.75rem;
}

.compat .position,
.compat .bug {
  color: black;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--background-alt);
  font-weight: normal;
  display: block;
}

.compat .position-oppose,
.compat .position-negative {
  background: hsl(from var(--browser-unsupported-bg) h s 95%);
}

.compat .position-support,
.compat .position-positive {
  background: hsl(from var(--browser-supported-bg) h s 90%);
}

.compat .position .concerns {
  display: block;
}

.feature .resources,
.feature .resources li {
  list-style: disc;
  padding-inline-start: 0.5rem;
  margin-inline-start: 0.5rem;
}

.surveys li {
  overflow-wrap: break-word;
}

/* Feature page */

.feature-page .feature {
  background: none;
  padding: 0;
  margin-block-start: 0;
}

.feature-page h3 {
  margin-block-start: 0;
}

.feature-page .header {
  display: grid;
  grid-template-columns: max-content 1fr;
  margin-block: var(--margin);
}

.feature-page .header .availability {
  grid-column: 1 / -1;
}

.feature-page .header .feature-copyable-id {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  align-self: center;
}

.feature-page .header .baseline-hight-countdown {
  grid-column: 1 / -1;
  color: var(--sub-text);
  font-size: 0.9rem;
}

@media (max-width: 50rem) {
  .feature-page .header {
    display: flex;
    margin-block: var(--margin);
    flex-direction: column;
    gap: .5rem;
  }

  .feature-page .header .feature-copyable-id {
    align-self: start;
  }
}

.feature-page .warning-banner {
  background: var(--browser-unsupported-bg);
  padding: calc(var(--margin) / 2);
  border-radius: 0.25rem;
}

.feature-page .warning-banner p {
  margin: 0;
}

.feature-page .warning-banner p:not(:last-child) {
  margin-block-end: .5rem;
}

.feature-page .feature-box {
  padding: calc(var(--margin) / 2);
  border-radius: 0.5rem;
  border: 2px solid var(--border);
  margin-block-end: calc(var(--margin) / 2);
  break-inside: avoid-column;
}

.feature-page .feature-box.baseline {
  background: transparent;
  border: 2px solid var(--border);
}

.feature-page .additional-feature-data {
  display: grid;
  display: grid-lanes;
  gap: calc(var(--margin) / 2);
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.feature-page .additional-feature-data .feature-box {
  margin: 0;
}

/* Nav */

nav .section-header {
  font-weight: bold;
  border-block-start: 2px solid hsl(from var(--link) h s 70%);
  padding-block: calc(var(--margin) / 2);
  margin-block-start: calc(var(--margin) / 2);
}

nav a {
  display: block;
  padding: 0.2rem 0;
  color: var(--link);
}

/* Search box */

header search {
  margin-block: var(--margin);
}

header search form {
  height: 100%;
  display: flex;
}

@media (max-width: 50rem) {
  header search form {
    display: block;
    margin-block-start: calc(2 * var(--margin));
  }
}

header search input {
  font-family: inherit;
  width: 12rem;
  /* Prevent iOS from zooming on the field when focus */
  font-size: 16px;
  padding: 0.25rem;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
  border-radius: 0.25rem;
  border: 2px solid lch(from var(--link) 80% c h);
  box-shadow: 0 0 0.5rem 0 white;
}

header output {
  margin: var(--margin) 0;
  display: block;
  background: var(--background);
  padding: calc(var(--margin) / 4);
}

header output:empty {
  display: none;
}

header output ul {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: calc(var(--margin) / 4);
}

header output a {
  display: block;
  background: var(--background-alt);
  padding: calc(var(--margin) / 2);
  color: var(--text);
  text-decoration: none;
  overflow: hidden;
}

header output a:hover {
  text-decoration: underline;
  color: var(--link);
}

header output h3 {
  margin: 0 0 .5rem 0;
  font-size: 0.9rem;
}

header output p {
  font-size: 0.9rem;
  margin: 0;
}

/* Home page */

.home>p {
  margin: var(--margin) 0;
}

.release-notes {
  .feed-subscriptions {
    background: linear-gradient(to right, var(--baseline-low-bg), var(--baseline-high-bg));
    padding: var(--margin);
    margin-block-end: var(--margin);
    border-radius: 0.5rem;
    inline-size: 20rem;
  }

  h2 {
    margin: 0;
    margin-block-end: 0.75rem;
    background-image: none;
    padding-inline: 0;
  }
}

@media (max-width: 40rem) {
  .release-notes {
    .feed-subscriptions {
      float: none;
      inline-size: auto;
      margin: 0 0 calc(var(--margin) / 2) 0;
    }
  }
}

.feed-subscriptions {
  ul {
    display: grid;
    gap: 0.75rem;
  }
}

.release-notes {
  .feed-subscriptions {
    li {
      margin: 0;
      list-style: none;
    }

    .feed-badge {
      background: none;
      color: var(--text);
      display: flex;
      gap: 0.75rem;
      min-block-size: 4rem;
      text-decoration: none;
    }
  }
}

@media (width < 48rem) {
  .feed-subscriptions {
    ul {
      grid-template-columns: 1fr;
    }
  }
}

.feed-badge:hover strong {
  text-decoration: underline;
}

.feed-badge-icon {
  flex: 0 0 2rem;
  inline-size: 2rem;
  block-size: 2rem;
}

.feed-badge {

  strong,
  span span {
    display: block;
  }

  span span {
    color: var(--sub-text);
    font-size: 0.85rem;
  }
}

.release-feed {
  --bg: linear-gradient(to right,
      var(--baseline-low-bg),
      var(--baseline-high-bg));
  --border: var(--baseline-high-border);
}

/* List of all release notes */

.monthly-update-list {
  display: grid;
  gap: var(--margin);
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}

.monthly-update-list .month-entry {
  padding: calc(var(--margin) / 2);
  background: var(--background-alt);
  border-radius: 0.5rem;
}

.monthly-update-list .month-entry h2 {
  margin: 0 0 1rem 0;
  font-size: 1.3rem;
}

.monthly-update-list .month-entry li {
  padding: 0.125rem 0;
}

/* Individual month release note */

.release-notes:not(.home) {
  display: grid;
  column-gap: var(--margin);
  grid-template-columns: 1fr 13rem;
}

.release-notes.mini {
  grid-template-columns: 1fr 1fr;
}

.release-notes h1 {
  grid-column: span 2;
}

.release-notes.mini .footer {
  text-align: center;
  grid-column: span 2;
}

@media (max-width: 850px) {
  .release-notes.mini {
    grid-template-columns: 1fr;
  }

  .release-notes.mini h1 {
    grid-column: span 1;
  }

  .release-notes.mini .footer {
    grid-column: span 1;
  }
}

.release-notes.mini h1 {
  text-align: center;
  background-image: url(logo.png);
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center top;
  padding-block-start: 3rem;
}

.release-notes section {
  padding: var(--margin);
  border-radius: 0.5rem;
  margin-block-end: var(--margin);
  align-self: start;
}

.release-notes .baseline-low {
  background: linear-gradient(to bottom,
      var(--baseline-low-bg),
      var(--background));
}

.release-notes .baseline-high {
  background: linear-gradient(to bottom,
      var(--baseline-high-bg),
      var(--background));
}

.release-notes .baseline-false {
  background: linear-gradient(to bottom,
      var(--baseline-limited-bg),
      var(--background));
}

.release-notes h2 {
  margin-block-start: 0;
  font-size: 1.2rem;
}

.release-notes section h2 {
  padding-inline-start: 3rem;
  background-repeat: no-repeat;
  background-size: 1.7rem;
  background-position: 0 center;
}

.release-notes .baseline-low h2 {
  background-image: url(https://web-platform-dx.github.io/assets/img/baseline-newly-icon.svg);
}

.release-notes .baseline-high h2 {
  background-image: url(https://web-platform-dx.github.io/assets/img/baseline-widely-icon.svg);
}

.release-notes .safari h2,
.release-notes .safari_ios h2 {
  background-image: url(./safari.svg);
}

.release-notes .firefox h2,
.release-notes .firefox_android h2 {
  background-image: url(./firefox.svg);
}

.release-notes .chrome h2,
.release-notes .chrome_android h2 {
  background-image: url(./chrome.svg);
}

.release-notes .edge h2 {
  background-image: url(./edge.svg);
}

.release-notes:not(.mini) section ul {
  column-gap: calc(var(--margin) / 2);
  column-width: 20rem;
  margin-block-end: 1rem;
}

.release-notes section li {
  break-inside: avoid;
  margin: 0 0 var(--margin) 1rem;
  list-style: disc;
}

.release-notes section li {
  margin: 0 0 1rem 1rem;
}

.release-notes aside {
  background: var(--background-alt);
  padding: calc(var(--margin) / 2);
  border-radius: 0.5rem;
  place-self: start stretch;
}

.release-notes aside ul {
  line-height: 2;
}

@media (max-width: 750px) {
  .release-notes:not(.home) {
    display: block;
  }

  .release-notes:not(.home) aside {
    padding: var(--margin);
  }
}

/* Feature list pages */

.explore-features .views {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem 0.5rem;
  margin: 0 calc(var(--margin) * -1);
  padding: calc(var(--margin) / 2);
  background: var(--baseline-limited-bg);
  border-block-end: 1px solid var(--baseline-limited-border);
}

.explore-features .views a {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #0002;
  background: #fffc;
}

/* Groups */

.groups li {
  padding: 0.25rem;
}

.groups li li {
  margin-inline-start: 2rem;
}

.groups summary {
  cursor: pointer;
}

.groups details[open] {
  background-image: linear-gradient(to right, black 1px, transparent 0);
  background-position: 0.3rem 1rem;
  background-size: 100% calc(100% - 1rem);
  background-repeat: no-repeat;
}

/* Timeline concept */

#timeline {
  overflow-x: auto;
  overflow-y: auto;
  max-width: fit-content;
  display: grid;
  grid-auto-columns: 7rem;
  font-size: 0.6rem;
  gap: 1px;
  background: var(--text);
}

#timeline .timeline-year {
  grid-row: 1;
  display: grid;
  grid-auto-rows: 1rem;
  width: 6.5rem;
  background: var(--background);
  padding: 0 0.25rem;
}

#timeline .timeline-year h2 {
  font-size: inherit;
  margin: 0;
}

#timeline .timeline-feature {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Browse page */

.feature-browser summary {
  cursor: pointer;
  background: white;
  position: relative;
  inset-inline: -0.2rem;
}

.feature-browser summary:hover {
  text-decoration: underline;
}

.feature-browser ul ul {
  padding-inline-start: calc(var(--margin) / 2);
}

.feature-browser .features li {
  padding: .5rem;
  background: #eee;
  margin: .5rem 0;
  border-radius: .5rem;
}

.feature-browser .name {
  display: block;
}

.feature-browser .group {
  background-image: linear-gradient(to right, black 1px, transparent 0);
  background-position: 0 0;
}

.edit-links {
  margin-block-start: var(--margin);
  display: block;
  font-size: 0.8rem;
  text-align: center;
}

table {
  border-collapse: collapse;
  border: 1px solid var(--text);
  font-size: 0.8rem;
}

th,
td {
  border: 1px solid var(--text);
  padding: calc(var(--margin) / 4);
}

table ul,
table li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ID copy button */

.feature-copyable-id * {
  font-family: monospace;
  font-size: .8rem;
  margin: 0;
  padding: .25rem;
  border: 1px solid #ccc;
  color: var(--sub-text);
}

.feature-copyable-id input {
  border-inline-end: none;
  border-radius: 0.25rem 0 0 0.25rem;
  width: clamp(3ch, calc(attr(data-len ch, 10ch) + 0.5rem), 40ch);
  text-overflow: ellipsis;
}

.feature-copyable-id button {
  background: var(--background-alt);
  cursor: pointer;
  border-radius: 0 0.25rem 0.25rem 0;
}

.feature-copyable-id button:hover {
  background: var(--background);
}

.feature-copyable-id button:active {
  background: var(--background-alt);
}

/* Developer signals */

.feature-page .developer-signals {
  border: none;
  background: var(--baseline-high-bg);
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: calc(var(--margin) / 2);
}

.developer-signals .votes {
  font-size: 1.2rem;
  align-self: center;
}

.developer-signals .votes strong {
  background: var(--background);
  padding: .25rem 1rem;
  border-radius: .25rem;
  display: inline-block;
  text-align: center;
}

.developer-signals p {
  margin: 0;
}

/* Use cases */

.use-cases ul {
  display: grid;
  gap: calc(var(--margin) / 4);
}

.use-cases li {
  padding: calc(var(--margin) / 4);
  border: 1px solid var(--border);
  border-radius: .25rem;
  background: var(--background);
}

details.string-revealer {
  position: relative;
  min-block-size: 1lh;
  padding-block-end: 1lh;

  summary {
    position: absolute;
    inset: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &::marker {
      content: "";
    }

    &::after {
      content: "See more";
      cursor: pointer;
      position: absolute;
      inset: auto auto 0 0;
      inline-size: min-content;
      font-style: italic;
      text-decoration: underline;
      color: var(--sub-text);
    }
  }

  &:open {
    summary {
      visibility: hidden;
    }

    summary::after {
      visibility: visible;
      content: "See less";
      position: absolute;
    }
  }
}

/* About page */

.about-logo {
  inline-size: 10rem;
  max-inline-size: 100%;
}