<div class="availability">
  {% if not feature.status.baseline %}Limited availability{% endif %}
  {% if feature.status.baseline === "low" %}Newly available since {{ feature.status.baseline_low_date }} (baseline low){% endif %}
  {% if feature.status.baseline === "high" %}Widely available since {{ feature.status.baseline_high_date }} (baseline high){% endif %}
</div>