<ul class="compat compat-full">
  {% for browser in browsers %}
    <li class="browser browser-{{ browser.id }}{% if feature.status.support[browser.id] %} supported{% endif %}">
      <span class="name">{{ browser.name }}</span>
      {% set version = feature.status.support[browser.id] %}
      {% if version %}
        <span class="version">{{ version }}</span>
        <span class="date">{% browserVersionRelease browser, version %}</span>
      {% else %}
        <span class="version">❌</span>
        {% if feature.bugs[browser.id] and feature.bugs[browser.id].length %}
          <span class="bug">
            See
            {% for bug in feature.bugs[browser.id] %}
              <a href="{{ bug }}">{{ bug | replace("https://", "") }}</a>
            {% endfor %}
          </span>
        {% endif %}
        {% include "position_per_browser.njk" %}
      {% endif %}
    </li>
  {% endfor %}
</ul>