<ul class="compat compat-full">
  {% for browser in browsers %}
    <li class="browser browser-{{ browser.id }}{% if feature.status.support[browser.id] %} supported{% endif %}">
      <span class="name">{{ browser.name }}</span>
      {% set version = feature.status.support[browser.id] %}
      {% if version %}
        <span class="version supported">{{ version }}</span>
        <span class="date">{% browserVersionRelease browser, version %}</span>
      {% else %}
        <span class="version unsupported">
          Not supported
          {% include "position_per_browser.njk" %}
          {% if feature.bugs[browser.id] and feature.bugs[browser.id].length %}
            <span class="bug">
              Bugs:
              {% for bug in feature.bugs[browser.id] %}
                <a href="{{ bug }}">{{ bug | extractBugNumber }}</a>
              {% endfor %}
            </span>
          {% endif %}
        </span>
        <span class="date"></span>
      {% endif %}
    </li>
  {% endfor %}
</ul>