<ul class="compat">
  {% for browser in browsers %}
    <li class="browser browser-{{ browser.id }}{% if feature.status.support[browser.id] %} supported{% endif %}">
      <span class="name">{{ browser.name }}</span>
      {% set version = feature.status.support[browser.id] %}
      {% if version %}
        <span class="version">{{ version }}</span>
        <span class="date">{% browserVersionRelease browser, version %}</span>
      {% else %}
        <span class="version">❌</span>
        <span class="bug">
          {% if feature.implUrls[browser.id] and feature.implUrls[browser.id].length %}
            See
            {% for implUrl in feature.implUrls[browser.id] %}
              <a href="{{ implUrl }}">{{ implUrl | replace("https://", "") }}</a>
            {% endfor %}
          {% else %}
            <a href="https://www.google.com/search?q=implement {{ feature.name }}+site%3A{{ browser.bugTracker }}">Search for bugs</a>
          {% endif %}
        </span>
        {% if not feature.implUrls[browser.id] or not feature.implUrls[browser.id].length %}
          {% if browser.id === "safari" or browser.id === "safari_ios" %}
            {% set position = feature.standardPositions.webkit %}
            {% include "position.njk" %}
          {% elif browser.id === "firefox" or browser.id === "firefox_android" %}
            {% set position = feature.standardPositions.mozilla %}
            {% include "position.njk" %}
          {% endif %}
        {% endif %}
      {% endif %}
    </li>
  {% endfor %}
</ul>