{% if feature.developerSignals %}
  <div class="developer-signals feature-box">
    <h3>Developer signals</h3>
    <div class="votes">
      Votes: <strong>{{ feature.developerSignals.votes }}</strong>
    </div>
    <p>If you want this feature to be available in all browsers, vote for it by adding a thumbs up reaction (👍) to <a href="{{ feature.developerSignals.url }}">this GitHub issue</a>, and leave a comment with more information.</p>
  </div>
{% endif %}