{% if feature.developerSignals %}
  <div class="developer-signals feature-box">
    <div class="votes">
      <a href="{{ feature.developerSignals.url }}">
        <strong>
          👍
          <br>
          {{ feature.developerSignals.votes }}
        </strong>
      </a>
    </div>
    <p>
      <strong>Need this feature?</strong>
      <br>
      <a href="{{ feature.developerSignals.url }}">Leave a 👍 on the feedback issue</a>
      <br>
      Don't forget to also leave a comment explaining your specific use case.
    </p>
  </div>
{% endif %}