{% if feature.developerSignals %}
  <div class="developer-signals feature-box">
    <h3>Developer votes</h3>
    <div class="votes">
      <a href="{{ feature.developerSignals.url }}">
        <strong>
          👍
          <br>
          {{ feature.developerSignals.votes }}
        </strong>
      </a>
    </div>
    <p>Do you need this feature?<br>
       Let us know by leaving a 👍 reaction on <a href="{{ feature.developerSignals.url }}">the feedback issue</a>. Don't forget to also leave a comment explaining your specific use case.</p>
  </div>
{% endif %}