{% if feature.discouraged %}
  <div class="discouraged-info">
    <p>
      <strong>This feature is discouraged</strong>
      {% if feature.discouraged.reason %}
        &mdash; {{ feature.discouraged.reason }}
      {% endif %}
    </p>
    {% if feature.discouraged.alternatives %}
      <p>
        Consider using
        {% for alternative in feature.discouraged.alternatives %}
          <a href="/features/{{ alternative }}">{{ allFeaturesAsObject[alternative].name }}</a>
          {% if not loop.last %}, {% endif %}
        {% endfor %}
        instead.
      </p>
    {% endif %}
    <p>For more information, see:
      {% for rationale in feature.discouraged.according_to %}
        <a href="{{ rationale }}">{{ rationale | prettyUrlForAdditionalDiscouragedInfo }}</a>
        {% if not loop.last %}, {% endif %}
      {% endfor %}
    </p>
  </div>
{% endif %}