{% if feature.mdnUrls.length > 0 %}
  <h3>Learning resources on MDN</h3>
  <ul>  
    {% for url in feature.mdnUrls %}
      <li>
        <a href="{{ url.url }}">
          {% if url.anchor %}
            {{ url.anchor | capitalize }}, in <em>{{ url.title }}</em>
          {% else %}
            {{ url.title }}
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}