<div id="{{ feature.id }}" class="feature full baseline-{{ feature.status.baseline }}{% if feature.discouraged %} discouraged{% endif %}">
  <div class="header">
    <h1 data-pagefind-body>{% nameAsHTML feature.name %}</h1>
    <span class="feature-copyable-id"><input id="feature-id" type="text" value="{{ feature.id }}" data-len="{{ feature.id | length }}"><button id="copy-feature-id">Copy ID</button></span>
    <script>
      (function() {
        const button = document.querySelector("#copy-feature-id");
        const field = document.querySelector("#feature-id");
        button.addEventListener("click", async () => {
          await navigator.clipboard.writeText(field.value);
          button.textContent = "Copied!";
        });
      })();
    </script>
  </div>

  {% include "discouraged.njk" %}

  <p class="description" data-pagefind-body>
    {{ feature.description_html | safe }}
  </p>

  <div class="baseline feature-box">
    <h3>Status</h3>
    {% include "baseline.njk" %}
    {% if feature.expectedBaselineHighDate %}
      <p>This feature is expected to reach Baseline Widely Available status on: {{ feature.expectedBaselineHighDate }}
    {% endif %}
    {% if not feature.status.baseline and feature.hasNegativeStandardPosition %}
      <p>This feature received a negative standards position from at least one browser vendor. It's very unlikely to ever become Baseline in this current form.</p>
    {% endif %}
  </div>

  {% include "docs.njk" %}

  {% include "specs.njk" %}
  
  <div class="compat-table feature-box">
    <h3>Browser support{% if feature.caniuse %} <span class="subtext">(<a href="https://caniuse.com/{{ feature.caniuse }}">view on caniuse.com</a>)</span>{% endif %}</h3>
    {% include "compat_full.njk" %}

    {%- if feature.blockedOn %}
      <p>Baseline availability blocked since {{ feature.blockedSince }} by {{ feature.blockedOn }} ({{ feature.monthsBlocked }} months)</p>
    {%- endif %}
  </div>

  {% include "surveys.njk" %}

  {% include "use_counters.njk" %}

  {% include "interop.njk" %}

  {% include "wpt.njk" %}

  {% include "developer_signals.njk" %}

  <p class="edit-links">
    <a href="../{{ feature.id | slugify }}.json">View as JSON</a>
    |
    <a href="https://github.com/web-platform-dx/web-features/edit/main/features/{{ feature.id }}.yml">Edit this feature</a>
    |
    <a href="https://github.com/web-platform-dx/web-features/issues/new?title=[{{ feature.id }}] Issue title&body=Please describe the issue here...">Report an issue</a>
    |    
    Web-features entry:
    <a href="https://github.com/web-platform-dx/web-features/blob/main/features/{{ feature.id }}.yml">source</a>,
    <a href="https://github.com/web-platform-dx/web-features/blob/main/features/{{ feature.id }}.yml.dist">dist</a>
  </p>
</div>
