<div id="{{ feature.id }}" class="feature short baseline-{{ feature.status.baseline }}">
  <div class="header">
    <h2><a href="/features/{{ feature.id | slugify }}/">{{ feature.name }}</a></h2>
    {% include "baseline.njk" %}
  </div>
  {% include "tags.njk" %}
  <p>{{ feature.description_html | safe }}</p>
  <p><strong><a href="/features/{{ feature.id | slugify }}/">Learn more</a></strong></p>
  {%- if feature.blockedOn %}
  <p>Wide availability blocked since {{ feature.blockedSince }} by {{ feature.blockedOnName }} ({{ feature.monthsBlocked }} months)</p>
  {%- endif %}

  {% include "compat.njk" %}
</div>