<div id="{{ feature.id }}" class="feature baseline-{{ feature.status.baseline }}">
  {% include "baseline.njk" %}
  
  <h1>{{ feature.name }}</h1>
  <p>{{ feature.description_html | safe }}</p>
  
  <h3>Compatibility{% if feature.caniuse %} <span class="subtext">(<a href="https://caniuse.com/{{ feature.caniuse }}">view on caniuse.com</a>)</span>{% endif %}</h3>
  {% include "compat.njk" %}
  
  {% include "mdn_docs.njk" %}

  {% include "specs.njk" %}

  <h3>Vendor resources</h3>
  <ul class="resources">
    <li>
      <strong>Chromium</strong>
      <ul>
        <li><a href="https://chromestatus.com/features#{{ feature.name }}">ChromeStatus</a></li>
        <li><a href="https://www.google.com/search?q=implement {{ feature.name }}+site%3Aissues.chromium.org">Bugs</a></li>
      </ul>
    </li>
    <li>
      <strong>Mozilla</strong>
      <ul>
        <li><a href="https://github.com/mozilla/standards-positions/issues?q={{ feature.name }}">Standard positions</a></li>
        <li><a href="https://www.google.com/search?q=implement {{ feature.name }}+site%3Abugzilla.mozilla.org">Bugs</a></li>
      </ul>
    </li>
    <li>
      <strong>WebKit</strong>
      <ul>
        <li><a href="https://github.com/WebKit/standards-positions/issues?q={{ feature.name }}">Standard positions</a></li>
        <li><a href="https://www.google.com/search?q=implement {{ feature.name }}+site%3Abugs.webkit.org">Bugs</a></li>
      </ul>
    </li>
  </ul>

  <h3>BCD data</h3>
  <ul class="resources">
    {% for bcd in feature.bcdData %}
      <li><a href="https://github.com/mdn/browser-compat-data/blob/main/{{ bcd.compat.source_file }}">{{ bcd.key }}</a></li>
    {% endfor %}
  </ul>
</div>