<div id="{{ feature.id }}" class="feature short baseline-{{ feature.status.baseline }}{% if feature.discouraged %} discouraged{% endif %}">
  <div class="header">
    <h2><a href="/features/{{ feature.id | slugify }}/">{% prettyFeatureName feature.name %}</a></h2>
    {% include "baseline.njk" %}
  </div>
  {% include "tags.njk" %}
  <p>{{ feature.description_html | safe }}</p>

  {%- if feature.blockedOn %}
    <p>Baseline availability blocked since {{ feature.blockedSince }} by {{ feature.blockedOn }} ({{ feature.monthsBlocked }} months)</p>
  {%- endif %}

  <p><strong><a href="/features/{{ feature.id | slugify }}/">Learn more</a></strong></p>

  {% include "compat_short.njk" %}
</div>