<ul class="views">
  <li>Filter by：</li>
  <li><a href="/features">All</a></li>
  <li><a href="/newly-available" class="baseline-low">Newly available</a></li>
  <li><a href="/widely-available" class="baseline-high">Widely available</a></li>
  <li><a href="/limited-availability" class="baseline-false">Limited availability</a></li>
  <li><a href="/one-missing-engine" class="baseline-false">One missing engine</a></li>
  {% for browser in browsers %}
    <li><a href="/browsers/{{ browser.id | slugify }}/">{{ browser.name }}</a></li>
  {% endfor %}
</ul>