<div id="{{ feature.id }}" class="feature baseline-{{ feature.status.baseline }}{% if feature.discouraged %} discouraged{% endif %}">
  <div class="header">
    <h1>{{ feature.name }}</h1>
    {% include "baseline.njk" %}
  </div>
  {% include "tags.njk" %}

  {% include "discouraged.njk" %}

  <p data-pagefind-body>
    {{ feature.description_html | safe }}
  </p>

  {% include "docs.njk" %}
  
  <h3>Browser support{% if feature.caniuse %} <span class="subtext">(<a href="https://caniuse.com/{{ feature.caniuse }}">view on caniuse.com</a>)</span>{% endif %}</h3>
  {% include "compat_full.njk" %}

  {% include "origin_trials.njk" %}

  {%- if feature.blockedOn %}
    <p>Baseline availability blocked since {{ feature.blockedSince }} by {{ feature.blockedOn }} ({{ feature.monthsBlocked }} months)</p>
  {%- endif %}

  {% include "specs.njk" %}

  <p class="edit-link">
    <a href="https://github.com/web-platform-dx/web-features/blob/main/features/{{ feature.id }}.yml">View the feature source file</a>
    -
    <a href="https://github.com/web-platform-dx/web-features/edit/main/features/{{ feature.id }}.yml">Edit the feature</a>
    -
    <a href="https://github.com/web-platform-dx/web-features/issues/new?title=[{{ feature.id }}] Issue title&body=Please describe the issue here...">Report an issue about this feature</a>
  </p>
</div>