---
siteTitle: Web features explorer
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ siteTitle }} - {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
  </head>
  <body>

    <header><a href="/">{{ siteTitle }}</a></header>

    <nav>
      <ul>
        <li class="monthly"><a href="/monthly">Release notes</a></li>
        <li class="recent"><a href="/recent">New</a></li>
        <li class="baseline"><a href="/baseline">Baseline</a></li>
        <li class="nobaseline"><a href="/nobaseline">Limited</a></li>
        <li><a href="/all">All</a></li>
        <li><a href="/groups">Groups</a></li>
        <!-- <li><a href="/missingone">Missing in just one engine</a></li> -->
      </ul>
    </nav>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <p>Generated on {{ versions.date }} using <a href="https://github.com/web-platform-dx/web-features/">web-features</a> <code>{{ versions.webFeatures }}</code> and <a href="https://github.com/mdn/browser-compat-data/">browser-compat-data</a> <code>{{ versions.bcd }}</code></p>
      <p>Source code: <a href="https://github.com/web-platform-dx/web-features-explorer">web-features-explorer GitHub repo</a>.</p>
    </footer>

  </body>
</html>
