---
siteTitle: Web platform features explorer
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ siteTitle }} - {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
    <link href="/assets/favicon.png" rel="icon" sizes="64x64" type="image/png">
    <link rel="alternate" type="application/atom+xml" title="Web platform release notes" href="/release-notes.xml">
  </head>
  <body>

    <header>
      <a href="/">{{ siteTitle }}</a>

      <nav>
        <ul>
          <li><a href="/release-notes/{{ perMonth[0].date | slugify }}">Release notes</a></li>
          <li><a href="/newly-available">Explore features</a></li>
          <li><a href="/about">About</a></li>
        </ul>
        <search>
          <form>
            <input type="search" id="search" placeholder="Search">
          </form>
        </search>
      </nav>

      <output for="search"></output>
    </header>

    {{ content | safe }}
    
    <script src="/assets/search.js" defer></script>
  </body>
</html>
