{% if not feature.status.baseline and feature.hasNegativeStandardPosition %}
  <div class="warning-banner">
    <p>
      <strong>This feature has received a negative standards position from at least one browser vendor</strong> &mdash; It's very unlikely to ever become Baseline in this current form.</p>
  </div>
{% endif %}