{% if feature.originTrials.length %}
  <div class="origin-trials">
    <h3>Origin trials</h3>
    <p>Origin trials let you try experimental features on your production website and give feedback to browser vendors. This feature currently has the following origin trials available:</p>
    <ul>
      {% for trial in feature.originTrials %}
        <li>
          <strong>{{ trial.name }}</strong> on {{ trial.browser }} {{ trial.start }} to {{ trial.end }}. <a href="{{ trial.registrationUrl }}">Register for this origin trial</a>. <a href="{{ trial.feedbackUrl }}">Provide feedback about this origin trial</a>.
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}