{% if position and position.url %}
  <span class="position{% if position.position %} position-{{ position.position }}{% endif %}">
    <a href="{{ position.url }}">Vendor position</a>
    {% if position.position %}
      <span>: {{ position.position }}</span>
    {% else %}
      <span>: unknown</span>
    {% endif %}
    {% if position.concerns.length > 0 %}
      <span>(concerns: {{ position.concerns | join(", ") }})</span>
    {% endif %}
  </span>
{% endif %}
