{% if position and position.url %}
  <span class="position{% if position.position %} position-{{ position.position }}{% endif %}">
    <a href="{{ position.url }}">Position</a>{% if position.position %}<span>: {{ position.position }}</span>{% endif %}
    {% if positionFormat !== "short" and position.concerns.length > 0 %}
      <span class="concerns">(concerns: {{ position.concerns | join(", ") }})</span>
    {% endif %}
  </span>
{% endif %}
