{% if feature.spec.length %}
  <div class="specs">
    <h3>Specifications</h3>
    <ul>
      {% for spec in feature.spec %}
        <li>
          {% if spec.title %}
            <a href="{{ spec.url }}">{{ spec.title }}{% if spec.fragment %} (#{{ spec.fragment }}){% endif %}</a>,
            from <a href="{{ spec.groups[0].url }}">{{ spec.groups[0].name }}</a> ({{spec.organization}}).
          {% else %}
            <a href="{{ spec.url }}">{{ spec.url }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}