{% if feature.stateOfSurveys.length %}
  <div class="surveys">
    <h3>Surveys</h3>
    <ul>
      {% for survey in feature.stateOfSurveys %}
        <li>
          {{ survey.name }}: <a href="{{ survey.link }}">{{ survey.question }}/{{ survey.subQuestion }} question</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}