{% if feature.stateOfSurveys.length %}
  <div class="surveys feature-box">
    <h3>Surveys</h3>
    <ul>
      {% for survey in feature.stateOfSurveys %}
        <li>
          <a href="{{ survey.url }}">
            {{ survey.name }}
            &gt;
            {{ survey.question | replace("_", " ") }}
            &gt;
            {{ survey.subQuestion | replace("_", " ") }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}