<div class="tags">
  {% if feature.bcdTags.length %}
    Tags:
    {% for tag in feature.bcdTags %}
      <span class="tag">{{ tag }}</span>
    {% endfor %}
  {% endif %}
  {% if feature.groupPaths.length %}
    Groups:
    {% for path in feature.groupPaths %}
      <span class="tag">
        {% for part in path %}
          {{ part }} {% if not loop.last %} &gt; {% endif %}
        {% endfor  %}
      </span>
    {% endfor %}
  {% endif %}
</div>
