{% if feature.chromeUseCounters.percentageOfPageLoad %}
  <div class="use-counters feature-box">
    <h3>Usage <span class="subtext">(according to <a href="https://chromestatus.com/metrics/webfeature/popularity">Chrome Platform Status</a>)</span></h3>
    {% useCounterPercentage feature.chromeUseCounters.percentageOfPageLoad %} of page loads. <a href="{{ feature.chromeUseCounters.url }}">More data at chromestatus.com</a>.
  </div>
{% endif %}