{% if feature.wpt %}
  <div class="wpt feature-box">
    <h3>Web Platform Tests (WPT)</h3>
    <a href="https://wpt.fyi/results/?q=feature:{{ feature.id }}">View the latest WPT test results for this feature</a>
  </div>
{% endif %}