---
title: About the web features explorer website
layout: layout.njk
---

<main>
  <h1>{{ title }}</h1>

  <p>The goal of the Web platform features explorer website is to visualize the data that's in the <a href="https://github.com/web-platform-dx/web-features">web-features</a> and <a href="https://github.com/web-platform-dx/web-features-mappings">web-features-mappings</a> repositories.</p>

  <p>This is a project from the <a href="https://www.w3.org/community/webdx/">W3C WebDX Community Group</a> (WebDX CG). The source code is available on the <a href="https://github.com/web-platform-dx/web-features-explorer">web-features-explorer GitHub repo</a>.</p>

  <img src="https://web-platform-dx.github.io/assets/img/webdx.svg" alt="WebDX logo" class="about-logo">

  <p>On this site, you'll find information about features of the web platform, such as their names, descriptions, which browsers they're supported on, their <a href="https://web-platform-dx.github.io/baseline/">Baseline</a> statuses, links to MDN documentation, specifications, vendor positions, vendor bugs, web platform tests, user surveys, browser usage counters, and more.</p>

  <h2>Data sources</h2>

  <p>The website's content was last generated on {{ versions.date }} using:</p>
  <ul>
    <li><a href="https://github.com/web-platform-dx/web-features/">web-features</a> <code>{{ versions.webFeatures }}</code></li>
    <li><a href="https://github.com/mdn/browser-compat-data/">browser-compat-data</a> <code>{{ versions.bcd }}</code></li>
    <li><a href="https://github.com/web-platform-dx/web-features-mappings/blob/main/mappings/combined-data.json">web-features-mappings</a> (latest data)</li>
  </ul>

  <h2>Other pages</h2>

  <p>Here are a few other pages that might be useful. These pages are not in the top-level navigation menu because they are either work-in-progress or experiments.</p>

  <ul>
    <li><a href="/bcd-mapping">bcd-mapping</a>: the list of unmapped BCD keys, and % of completion.</li>
    <li><a href="/browse">browse</a>: a directory of the features, organized by web development tasks.</li>
    <li><a href="/groups">groups</a>: a directory of the features, organized by web-feature groups.</li>
    <li><a href="/ids">ids</a>: the list of all features, with their IDs, and BCD keys, to help find existing features.</li>
    <li><a href="/statistics">statistics</a>: trends for web-features coverage of BCD keys and caniuse IDs.</li>
    <li><a href="/timeline">timeline</a>: experimental timeline showing the number of baseline features over time.</li>
  </ul>
</main>
