---
title: About this website
layout: layout.njk
---

<main>
  <h1>{{ title }}</h1>

  <p>The Web platform features explorer website is a project from the <a href="https://www.w3.org/community/webdx/">W3C WebDX Community Group</a> (WebDX CG). Its goal is to visualize the data that's in the <a href="https://github.com/web-platform-dx/web-features">web-features</a> and <a href="https://github.com/web-platform-dx/web-features-mappings">web-features-mappings</a> repositories, which the WebDX CG maintains.</p>

  <p>This means that, on this website, you will find information about web features such as their names, descriptions, which browsers they're supported on, Baseline statuses, links to MDN documentation, specifications, vendor positions, vendor bugs, web platform tests, user surveys, browser usage counters, and more.</p>

  <p>To learn more about Baseline, see <a href="https://web-platform-dx.github.io/web-features/">What is Baseline?</a>.</p>

  <p>The website's content was last generated on {{ versions.date }} using <a href="https://github.com/web-platform-dx/web-features/">web-features</a> <code>{{ versions.webFeatures }}</code> and <a href="https://github.com/mdn/browser-compat-data/">browser-compat-data</a> <code>{{ versions.bcd }}</code>. The source code of the website is at <a href="https://github.com/web-platform-dx/web-features-explorer">web-features-explorer GitHub repo</a>.</p>

  <h2>Other pages</h2>

  <p>Following are a few pages on this website that might be useful. These pages are not in the top-level navigation menu because they are either work in progress or experiments.</p>

  <ul>
    <li><a href="/bcd-mapping">bcd-mapping</a>: the list of unmapped BCD keys, and % of completion.</li>
    <li><a href="/browse">browse</a>: a directory of the features, organized by web development tasks.</li>
    <li><a href="/groups">groups</a>: a directory of the features, organized by web-feature groups.</li>
    <li><a href="/ids">ids</a>: the list of all features, with their IDs, and BCD keys, to help find existing features.</li>
    <li><a href="/timeline">timeline</a>: experimental timeline showing the number of baseline features over time.</li>
  </ul>
</main>
