---
title: About this website
layout: layout.njk
---

<main>
  <h1>{{ title }}</h1>

  <p>The Web platform features explorer website is a project from the <a href="https://www.w3.org/community/webdx/">W3C WebDX Community Group</a> (WebDX CG). Its goal is to provide a visualization of the data from the <a href="https://github.com/web-platform-dx/web-features">web-features</a> repository, which the WebDX CG maintains.</p>

  <p>In addition to displaying the web-features data, this website also links the data to other resources, such as browser-compat-data, MDN documentation, specifications, vendor positions, origin trials, and more.</p>

  <p>The website also displays Baseline information for each web feature. To learn more about Baseline, see <a href="https://web-platform-dx.github.io/web-features/">What is Baseline?</a>.</p>

  <p>The website's content was last generated on {{ versions.date }} using <a href="https://github.com/web-platform-dx/web-features/">web-features</a> <code>{{ versions.webFeatures }}</code> and <a href="https://github.com/mdn/browser-compat-data/">browser-compat-data</a> <code>{{ versions.bcd }}</code>. The source code of the website is at <a href="https://github.com/web-platform-dx/web-features-explorer">web-features-explorer GitHub repo</a>.</p>
</main>
