---
title: Baseline features
layout: layout.njk
---

<h1>{{ title }}</h1>

<p>These features have been supported across all browsers for at least 30 months, making them <strong>Baseline</strong> features. To learn more, see <a href="https://github.com/web-platform-dx/web-features/blob/main/docs/baseline.md">Baseline</a>.</p>

<ul class="features">
  {% for feature in baselineFeatures %}
    <li>
      {% include "feature_short.njk" %}
    </li>
  {% endfor %}
</ul>
