---
title: Mapping of the BCD keys in web-features
layout: layout.njk
---

<style>
.bcd-keys {
  column-width: 20rem;
  column-gap: 2rem;
  column-rule: 1px solid #ccc;
  margin-block-start: 1rem;
}

.bcd-keys li {
  word-break: break-all;
  padding: .25rem 0;
}

.bcd-keys .deprecated::after {
  content: "⚠️ deprecated";
  display: block;
  font-size: .8rem;
  color: red;
}

.bcd-keys .group-start {
  border-block-start: 2px solid #ccc;
}
</style>
<main>
  <h1>{{ title }}</h1>

  <ul>
    <li>All BCD keys: {{ bcdMapping.totalKeys }}</li>
    <li>Keys mapped in web-features: {{ bcdMapping.totalMapped }}</li>
    <li>Percentage mapped: {{ bcdMapping.percentage }}%</li>
  </ul>

  <h2>Unmapped BCD keys</h2>

  <button id="toggle-deprecated">Toggle deprecated</button>

  <ul class="bcd-keys">
    {% for unmapped in bcdMapping.unmapped %}
      <li class="{% if unmapped.status.deprecated %}deprecated {% endif %}{% if unmapped.isNewGroup %}group-start{% endif %}">{{ unmapped.key }}</li>
    {% endfor %}
  </ul>
</main>

<script>
document.getElementById('toggle-deprecated').addEventListener('click', function() {
  document.querySelectorAll('.bcd-keys .deprecated').forEach(item => {
    item.style.display = item.style.display === 'none' ? 'block' : 'none';
  });
});
</script>
