---
title: BCD key mapping
layout: layout.njk
---

<main>
  <h1>{{ title }}</h1>

  <p>The web-features project has {{ bcdMapping.totalMapped }} BCD keys mapped, out of {{ bcdMapping.totalKeys }} total BCD keys ({{ bcdMapping.percentage }}% complete).</p>

  <h2>Unmapped BCD keys</h2>

  <ul>
    {% for unmapped in bcdMapping.unmapped %}
      <li>{{ unmapped.key }}{% if unmapped.status.deprecated %} [DEPRECATED]{% endif %}</li>
    {% endfor %}
  </ul>
</main>
