---js
const title = "Browse web platform features";
const layout = "layout.njk"

function isGroup(item) {
  return !Array.isArray(item);
}
---

{% macro recurse(parent) %}
  <ul class="group">
    {% for id, item in parent %}
      <li>
        <details>
          <summary>{{ id }}</summary>
          {% if isGroup(item) %}
            {{ recurse(item) }}
          {% else %}
            <ul class="features">
              {% for featureId in item %}
                {% if not features[featureId].discouraged and features[featureId].kind === "feature" %}
                  <li>
                    <span class="name">
                      <a href="/features/{{ allFeaturesAsObject[featureId].id | slugify }}/">
                        {% nameAsHTML allFeaturesAsObject[featureId].name %}
                      </a>
                    </span>
                    <span class="description">
                      {{ allFeaturesAsObject[featureId].description }}
                    </span>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </details>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

<main>
  <h1>{{ title }}</h1>

  <p>Browse the entire list of available web platform features hierarchically below.</p>

  <div class="feature-browser">
    {{ recurse(featureCatalog) }}
  </div>
</main>
