---
layout: layout.njk
pagination:
  data: allFeatures
  size: 1
  alias: feature
permalink: "features/{{ feature.id | slugify }}/"
eleventyComputed:
  title: "{{ feature.name }}"
---

<main class="feature-page">
  {% include "feature_full.njk" %}
</main>