---
title: Groups
layout: layout.njk
---

{% macro groupMacro(id, group, allGroups) %}
  <li class="group" id="{{ id }}">
    <details>
      <summary>{{ group.name }}</summary>
      <ul class="children-groups">
        {% for id2, group2 in allGroups %}
          {% if group2.parent === id %}
            {{ groupMacro(id2, group2, allGroups) }}
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="features">
        {% for feature in allFeatures %}
          {% if feature.groups.includes(id) %}
            <li>
              <a href="/features/{{ feature.id | slugify }}/">{{ feature.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </details>
  </li>
{% endmacro %}

<main>
  <h1>{{ title }}</h1>

  <p><strong>Work in progress</strong>. This page displays groups of features in a tree structure. Groups have not yet been finalized, expect frequent changes.</p>

  <ul class="groups">
    {% for id, group in perGroup %}
      {% if group.parent == null %}
        {{ groupMacro(id, group, perGroup) }}
      {% endif %}
    {% endfor %}
  </ul>

  <h2>Ungrouped features</h2>
  <ul class="features">
    {% for feature in allFeatures %}
      {% if feature.groups.length === 0 %}
        <li><a href="/features/{{ feature.id | slugify }}/">{{ feature.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</main>
