---
title: Home
layout: layout.njk
---

<main class="home release-notes">
  <h1>Stay up-to-date with the web platform</h1>
  <p>Use the Web platform features explorer to discover new features and APIs and stay up-to-date with changes.</h1>

  <section class="baseline-low">
    <h2>Newly available across browsers</h2>
    <ul>
      {% for feature in latest.latestBaselineLow %}
        <li>
          <strong><a href="/features/{{ feature.id | slugify }}/">{{ feature.name }}</a></strong>:
          {{ feature.description_html | safe }}
        </li>
      {% endfor %}
    </ul>
  </section>

  <section class="baseline-high">
    <h2>Now widely available across browsers</h2>
    <ul>
      {% for feature in latest.latestBaselineHigh %}
        <li>
          <strong><a href="/features/{{ feature.id | slugify }}/">{{ feature.name }}</a></strong>:
          {{ feature.description_html | safe }}
        </li>
      {% endfor %}
    </ul>
  </section>
</main>