---
title: Home
layout: layout.njk
---

<h1>{{ title }}</h1>

<p>This website provides information about features of the web platform.</p>
<p>The data displayed on this site comes from the <a href="https://github.com/web-platform-dx/web-features">web-features</a> repository; a new open-source project that's maintained by the <a href="https://www.w3.org/community/webdx/">W3C WebDX Community Group</a>, and which aims at providing a common list of features and their definitions to improve understanding of what web developers get and want from the web.</p>
<p>In particular, the web-features open-source project maintains data which powers <a href="https://github.com/web-platform-dx/web-features/blob/main/docs/baseline.md">Baseline</a>.</p>