---
title: Web features explorer
layout: layout.njk
---

<h1>{{ title }}</h1>

<p>This website displays various lists of web features, organized by whether they are available on the web platform or not.</p>