---
title: Limited availability
layout: layout.njk
---

<main class="explore-features">
  {% include "feature_list_views.njk" %}

  <h1><img src="https://web-platform-dx.github.io/web-features/assets/img/baseline-limited-word.svg" alt="{{ title }}"></h1>

  <p>These features are not yet available across all browsers.</p>
  <p>Consider the browser support data below as well as your users' browser versions before using these features in production. Provide your essential content and functionality to as many users as possible by using <strong><a href="https://developer.mozilla.org/docs/Glossary/Progressive_Enhancement">progressive enhancements</a></strong>.</p>

  <ul class="features">
    {% for feature in limitedAvailabilityFeatures %}
      <li>
        {% include "feature_short.njk" %}
      </li>
    {% endfor %}
  </ul>
</main>
