---
title: Monthly web platform updates
layout: layout.njk
---

<h1>{{ title }}</h1>

<ul class="monthly-update-list">
  {% for month in perMonth %}
    <li class="month-entry">
      <h2><a href="{{ month.date | slugify }}">{{ month.date }} update</a></h2>
      <p>
        {% if month.features.high.length > 0 %}
          {{ month.features.high.length }} feature{% if month.features.high.length > 1 %}s are{% else %} is{% endif %} now widely available.
        {% endif %}
        {% if month.features.low.length > 0 %}
          {{ month.features.low.length }} feature{% if month.features.low.length > 1 %}s are{% else %} is{% endif %} newly available.
        {% endif %}
        {% for browser in browsers %}
          {% if month.features[browser.id].length > 0 %}
            {{ month.features[browser.id].length }} feature{% if month.features[browser.id].length > 1 %}s{% endif %} became available in {{ browser.name }}.
          {% endif %}
        {% endfor %}
      </p>
    </li>
  {% endfor %}
</ul>
