---
layout: layout.njk
pagination:
  data: perMonth
  size: 1
  alias: month
permalink: "release-notes/{{ month.date | slugify }}/"
eleventyComputed:
  title: "{{ month.date }} release notes"
---

<main class="release-notes">
  <h1>📃 {{ month.date }} release notes</h1>

  <div>
    {% if month.features.low.length > 0 %}
      <section class="baseline-low">
        <h2>Newly available</h2>
        <p>The following features are newly available:</p>
        <ul>
          {% for feature in month.features.low %}
            <li>
              <strong><a href="/features/{{ feature.id | slugify }}/">{{ feature.name }}</a></strong>:
              {{ feature.description_html | safe }}
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}

    {% if month.features.high.length > 0 %}
      <section class="baseline-high">
        <h2>Widely available</h2>
        <p>The following features are now widely available:</p>
        <ul>
          {% for feature in month.features.high %}
            <li>
              <strong><a href="/features/{{ feature.id | slugify }}/">{{ feature.name }}</a></strong>:
              {{ feature.description_html | safe }}
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}

    {% for browser in browsers %}
      {% if month.features[browser.id].length > 0 %}
        <section class="baseline-false {{ browser.id }}">
          <h2>New in {{ browser.name }}</h2>
          <p>The following features are now available in {{ browser.name }}:</p>
          <ul>
            {% for feature in month.features[browser.id] %}
              <li>
                <strong><a href="/features/{{ feature.id | slugify }}/">{{ feature.name }}</a></strong>:
                {{ feature.description_html | safe }}
              </li>
            {% endfor %}
          </ul>
        </section>
      {% endif %}
    {% endfor %}
  </div>

  <aside>
    <h2>Other release notes</h2>
    <ul>
      {% for month in perMonth %}
        {% if loop.index0 < 20 %}
          <li class="month-entry">
            <a href="../{{ month.date | slugify }}">{{ month.date }}</a>
          </li>
        {% elseif loop.index0 == 20 %}
          <li><a href="../">See all</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </aside>
</main>
