---
title: Newly available
layout: layout.njk
---
<h1><img src="https://web-platform-dx.github.io/web-features/assets/img/baseline-newly-word.svg" alt="{{ title }}"></h1>

<p>These features recently became available across all browsers, making them <strong>Baseline newly available</strong>. To learn more, see <a href="https://web-platform-dx.github.io/web-features/">Baseline</a>.</p>
<p>Consider the browser support data below as well as your users' browser versions before using these features in production. Provide your essential content and functionality to as many users as possible by using <strong><a href="https://developer.mozilla.org/docs/Glossary/Progressive_Enhancement">progressive enhancements</a></strong>.</p>

<ul class="features">
  {% for feature in recentBaselineFeatures %}
    <li>
      {% include "feature_short.njk" %}
    </li>
  {% endfor %}
</ul>
