---
title: Features implemented in only one browser engine
layout: layout.njk
pagination:
  data: onlyOneBrowserFeatures
  size: 1
  alias: perEngine
permalink: "only-in/browsers/{{ perEngine.name | slugify }}/"
eleventyComputed:
  title: "Features implemented only in {{ perEngine.name }}"
---

<main class="explore-features">
  {% include "feature_list_views.njk" %}

  <h1>{{ title }}</h1>

  <p>The following features are only implemented in {{ perEngine.name }}.</p>

  <ul class="features">
    {% for feature in perEngine.features %}
      <li>
        {% include "feature_short.njk" %}
      </li>
    {% endfor %}
  </ul>
</main>
