---
title: Newly available features
layout: layout.njk
---
<h1>{{ title }}</h1>

<p>These features recently became available in all browsers.</p>
<p>Consider the browser support data below as well as your users' browser versions before using these features in production. Provide your essential content and functionality to as many users as possible by using <strong><a href="https://developer.mozilla.org/docs/Glossary/Progressive_Enhancement">progressive enhancements</a></strong>.</p>

<ul class="features">
  {% for feature in recentBaselineFeatures %}
    <li>
      {% include "feature_short.njk" %}
    </li>
  {% endfor %}
</ul>
