---
layout: layout.njk
pagination:
  data: allUnordinaryFeatures
  size: 1
  alias: feature
permalink: "features/{{ feature.id | slugify }}/"
eleventyComputed:
  title: "{{ feature.id }}"
---

<main class="feature-page">
  <div id="{{ feature.id }}" class="feature full">
    {% if feature.kind == "moved" %}
      <div class="header">
        <h1>This feature has moved</h1>
      </div>
      <p> You're being redirected to <a href="/features/{{ feature.redirect_target | slugify }}">{% nameAsHTML allFeaturesAsObject[feature.redirect_target].name %}</a> instead.
      </p>
      <meta http-equiv="refresh" content="3;url=/features/{{ feature.redirect_target | slugify }}" />
    {% elif feature.kind == "split" %}
      <div class="header">
        <h1>This feature has been split</h1>
      </div>
      <p>See the following features instead:</p>
      <ul>
        {% for target in feature.redirect_targets %}
          <li>
            <a href="/features/{{ target | slugify }}">{% nameAsHTML allFeaturesAsObject[target].name %}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</main>
